<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>collectionView的多种转场动画swift版.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1660C01A1D3E02B4000BAE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1660C02E1D3E02B4000BAE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1660C0391D3E02B4000BAE8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
